## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Weather_Database/WeatherPy_database.csv'

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

weather_data           175
City                   175
Country                175
Lat                    175
Lng                    175
Max Temp               175
Humidity               175
Cloudiness             175
Wind Speed             175
Current Description    175
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df

,weather_data,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,75.20,88,20,2.33,few clouds
4,4,Rikitea,PF,-23.1203,-134.9692,80.08,74,15,11.50,few clouds
6,6,Ranong,TH,9.9658,98.6348,84.20,79,40,5.75,scattered clouds
8,8,Vaini,TO,-21.2000,-175.2000,78.80,83,90,13.80,moderate rain
19,19,Kavieng,PG,-2.5744,150.7967,80.37,82,100,7.54,light rain
...,...,...,...,...,...,...,...,...,...,...
680,680,Axim,GH,4.8699,-2.2405,79.27,84,100,11.16,overcast clouds
681,681,Reo,BF,12.3167,-2.4667,83.48,16,18,10.38,few clouds
686,686,Kailua,US,21.4022,-157.7394,78.80,61,1,10.36,light rain
687,687,Sibolga,ID,1.7427,98.7792,77.16,87,100,2.04,overcast clouds
688,688,Sechura,PE,-5.5569,-80.8222,75.25,71,98,16.64,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,75.20,few clouds,-22.9661,-42.0278,
4,Rikitea,PF,80.08,few clouds,-23.1203,-134.9692,
6,Ranong,TH,84.20,scattered clouds,9.9658,98.6348,
8,Vaini,TO,78.80,moderate rain,-21.2000,-175.2000,
19,Kavieng,PG,80.37,light rain,-2.5744,150.7967,
...,...,...,...,...,...,...,...
680,Axim,GH,79.27,overcast clouds,4.8699,-2.2405,
681,Reo,BF,83.48,few clouds,12.3167,-2.4667,
686,Kailua,US,78.80,light rain,21.4022,-157.7394,
687,Sibolga,ID,77.16,overcast clouds,1.7427,98.7792,
688,Sechura,PE,75.25,overcast clouds,-5.5569,-80.8222,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,75.20,few clouds,-22.9661,-42.0278,
4,Rikitea,PF,80.08,few clouds,-23.1203,-134.9692,
6,Ranong,TH,84.20,scattered clouds,9.9658,98.6348,
8,Vaini,TO,78.80,moderate rain,-21.2000,-175.2000,
19,Kavieng,PG,80.37,light rain,-2.5744,150.7967,
...,...,...,...,...,...,...,...
680,Axim,GH,79.27,overcast clouds,4.8699,-2.2405,
681,Reo,BF,83.48,few clouds,12.3167,-2.4667,
686,Kailua,US,78.80,light rain,21.4022,-157.7394,
687,Sibolga,ID,77.16,overcast clouds,1.7427,98.7792,
688,Sechura,PE,75.25,overcast clouds,-5.5569,-80.8222,Hospedaje Costa Bella

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

NameError: name 'clean_hotel_df' is not defined

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure